// Mixins in here

.signUp() {
    color: white;
    background: @eastern-blue;
    max-width: 85%;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    padding: 5% 10%;
    margin-top: 1%;
}