// Navigation Styles here
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    max-width: 800px;
    margin: 0 auto;

    nav {
        display: flex;
        width: 40%;
        justify-content: space-around;

        a {
            font-size: 1.6rem;
        }
    }
    @media @mobile {
        flex-direction: column;
        height: 10vh;
        justify-content: space-around;

        h1 {
            margin-top: 2%;
            font-size: 3.2rem;
        }

        nav {
            width: 100%;

            a {
                font-size: 1.8rem;
                margin-bottom: 2%;
            }
        }
    }
}
.stretch {
    border-top: 2px dashed @navigation-border;
    margin: 0;
}